header{
    width: auto;
    height: 150px;
    background-color: #151515;
    border-radius: 20px;
    margin-bottom: 30px;
}

footer{
    background-color: #151515;
    width: auto;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}

body{
    background-color: #131313;
    color: #fdfdfd;
}

th, td {
   width: 50%;
   border: 3px solid #202020;
   border-radius: 5px;
}

td{
    padding-left: 10px;
}

table{
    margin-left: 10%;
    width: 40%;
    border: 3px solid #202020;
    border-radius: 5px;
}

h1{
    text-align: center;
}

h2{
    margin-left: 20px;
    color: white;
}

.h2{
    background-color: #151515;
    border-radius: 5px;
}

a{
    margin-left: 60px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.block{
    width: auto;
    display: inline-block;
}

.name{
    position: absolute;
    text-align: center;
    margin-top: 60px;
    color: white;
    font-size: 30px;
}

.logo{
    display: inline-block;
    margin-top: 25px;
    margin-left: 40px;
    width: 150px;
    height: 100px;
}

.fio{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 80px;
    text-align: center;
}

.nav{
    display: flex;
    flex-direction: column;
    background-color: #151515;
    height: 98%;
    position: fixed;
    width: 300px;
    border-radius: 20px;
}

.main{
    display: inline-block;
    margin-left: 320px;
    width: 83%;
}

.margin{
    margin-top: 40px;
}

.nav_name{
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.graph{
    width: 50%;
}

.item{
    margin-top: 20px;
    display: flex;
    flex-decoration: row;
}

.vacancies{
    border-radius: 20px;
    background-color: #151515;
}

.vac_name{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

.attr{
    font-size: 20px;
    padding-left: 20px;
}

.attr_text{
    padding-left: 40px;
    width: 70%;
    line-height: 35px;
}

.last{
    padding-bottom: 30px;
}

.skill{
    padding-left: 50px;
}