<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="nav">
        <p class="nav_name">Странички</p>
        <a class="margin" href="/index">Главная</a>
        <a href="/page1">Востребованность</a>
        <a href="/page2">География</a>
        <a href="/page3">Навыки</a>
        <a href="/page4">Последние вакансии</a>
    </div>
    <div class="main">
        <header>
            <img class="logo" src="{% static 'img/M.png' %}" >
            <div class="block name">Менеджер в IT</div>
        </header>
        <h1>Кто такой менеджер в IT?</h1>
        <p class="text">
            Менеджер IT-проектов – это специалист, в обязанности которого входит беспрерывное управление проектом.
            В IT-команде он выполняет административно-управленческие функции: соблюдение сроков, решение текущих проблем, коммуникация.
            Он способен быстро принимать решения, осуществлять руководство большой командой.
            В это же время менеджер обладает гибкостью характера, умением убеждать и находить общий язык с разными людьми.
            В этой профессии на первый план выходят коммуникативные и лидерские навыки, правильная расстановка приоритетов, стремление к самообразованию,
            ответственность, высокие требования к себе и окружающим.
            Менеджер ИТ услуг обязан  быстро вникать в потребности аудитории, с которой ему предстоит взаимодействовать.
            Он должен переводить пожелания клиентов или руководства на язык, понятный техническим экспертам.
            Именно менеджер первым обязан понимать, как некая идея может работать на практике, и как этого достичь.
            Если менеджер координирует действия нескольких IT-команд – его цель свести их усилия в единое целое и позаботиться об успехе общего проекта.
            ИТ-менеджеру необходимы такие личные качества, как способность к лидерству, коммуникабельность, готовность постоянно учиться новому.
            Он должен профессионально оценивать риски, следить за достижениями ИТ-рынка, интересоваться новостями в своей сфере.
            Это человек, который превращает хаос в порядок. Менеджер отвечает за весь проект — от первой встречи с клиентом до запуска.
            Он помогает сформулировать задачу, предлагает первые решения, планирует все это с командой и следит за сроками.
            Можно делать IT-проекты и без менеджера, но такой специалист сэкономит всем время и нервы, а бизнесу — деньги.
            Менеджер помогает команде проекта. Он следит за тем, чтобы всем было комфортно поддерживать нужный темп.
            Если не хватает данных — запрашивает их у клиента и передает команде.
            Он видит картинку целиком, поэтому может направлять команду и подсказывать, на чем сейчас лучше сосредоточиться, а что отложить.
            Он будет говорить с клиентами, планировать работу над задачами, выстраивать взаимодействие внутри команды.
            Менеджер возьмет на себя контроль бюджета и сроков.
        </p>
        <div class="photo">
            <img class="size2" src="{% static 'img/itMANAGER2.jpg' %}">
            <img class="size" src="{% static 'img/itmanager.jpg' %}">
        </div>
        <footer>
            <div class="fio">Сидоренко Максим Евгеньевич РИ-210930</div>
        </footer>
    </div>
</body>
</html>