<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Навыки</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
  <div class="nav">
      <p class="nav_name">Странички</p>
      <a class="margin" href="/index">Главная</a>
      <a href="/page1">Востребованность</a>
      <a href="/page2">География</a>
      <a href="/page3">Навыки</a>
      <a href="/page4">Последние вакансии</a>
  </div>
  <div class="main">
      <header>
          <img class="logo" src="{% static 'img/M.png' %}" >
          <div class="block name">Менеджер в IT</div>
      </header>
      <h1>ТОП-10 навыков по годам</h1>
      <div class="h2">
        <h2>2015</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s15 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_7.png' %}">
      </div>
      <div class="h2">
        <h2>2016</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s16 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_8.png' %}">
      </div>
      <div class="h2">
        <h2>2017</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s17 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_9.png' %}">
      </div>
      <div class="h2">
        <h2>2018</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s18 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_10.png' %}">
      </div>
      <div class="h2">
        <h2>2019</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s19 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_11.png' %}">
      </div>
      <div class="h2">
        <h2>2020</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s20 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_12.png' %}">
      </div>
      <div class="h2">
        <h2>2021</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s21 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_13.png' %}">
      </div>
      <div class="h2">
        <h2>2022</h2>
      </div>
      <div class="item">
            <table>
            <tr>
                <td>Место</td>
                <td>Навык</td>
            </tr>
            {% for i in s22 %}
                <tr>
                    <td>{{i.position}}</td>
                    <td>{{i.skill}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_14.png' %}">
      </div>
      <footer>
          <div class="fio">Сидоренко Максим Евгеньевич РИ-210930</div>
      </footer>
  </div>
</body>
</html>