<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>География</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div class="nav">
        <p class="nav_name">Странички</p>
        <a class="margin" href="/index">Главная</a>
        <a href="/page1">Востребованность</a>
        <a href="/page2">География</a>
        <a href="/page3">Навыки</a>
        <a href="/page4">Последние вакансии</a>
    </div>
    <div class="main">
        <header>
            <img class="logo" src="{% static 'img/M.png' %}" >
            <div class="block name">Менеджер в IT</div>
        </header>
        <h1>География</h1>
        <div class="item">
            <table>
            <tr>
                <td>Город</td>
                <td>Зарплата</td>
            </tr>
            {% for i in level%}
                <tr>
                    <td>{{i.city}}</td>
                    <td>{{i.salary}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_5.png' %}">
        </div>
        <div class="item">
            <table>
            <tr>
                <td>Город</td>
                <td>Доля вакансий</td>
            </tr>
            {% for i in vac%}
                <tr>
                    <td>{{i.city}}</td>
                    <td>{{i.vacancies}}</td>
                </tr>
            {%endfor%}
            </table>
            <img class="graph" src="{% static 'img/Figure_6.png' %}">
        </div>
        <footer>
            <div class="fio">Сидоренко Максим Евгеньевич РИ-210930</div>
        </footer>
    </div>
    </body>
</html>