<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Последние вакансии</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
  <div class="nav">
        <p class="nav_name">Странички</p>
        <a class="margin" href="/index">Главная</a>
        <a href="/page1">Востребованность</a>
        <a href="/page2">География</a>
        <a href="/page3">Навыки</a>
        <a href="/page4">Последние вакансии</a>
    </div>
    <div class="main">
        <header>
            <img class="logo" src="{% static 'img/M.png' %}" >
            <div class="block name">Менеджер в IT</div>
        </header>
        <h1>Последние вакансии</h1>
        <div class="vacancies">
            <p class="vac_name">{{name.0}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.0}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.0 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.0}}</p>
            <p class="attr">Оклад: {{salary.0}}</p>
            <p class="attr">Регион: {{region.0}}</p>
            <p class="attr last">Дата публикации: {{date.0}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.1}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.1}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.1 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.1}}</p>
            <p class="attr">Оклад: {{salary.1}}</p>
            <p class="attr">Регион: {{region.1}}</p>
            <p class="attr last">Дата публикации: {{date.1}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.2}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.2}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.2 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.2}}</p>
            <p class="attr">Оклад: {{salary.2}}</p>
            <p class="attr">Регион: {{region.2}}</p>
            <p class="attr last">Дата публикации: {{date.2}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.3}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.3}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.3 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.3}}</p>
            <p class="attr">Оклад: {{salary.3}}</p>
            <p class="attr">Регион: {{region.3}}</p>
            <p class="attr last">Дата публикации: {{date.3}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.4}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.4}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.4 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.4}}</p>
            <p class="attr">Оклад: {{salary.4}}</p>
            <p class="attr">Регион: {{region.4}}</p>
            <p class="attr last">Дата публикации: {{date.4}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.5}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.5}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.5 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.5}}</p>
            <p class="attr">Оклад: {{salary.5}}</p>
            <p class="attr">Регион: {{region.5}}</p>
            <p class="attr last">Дата публикации: {{date.5}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.6}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.6}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.6 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.6}}</p>
            <p class="attr">Оклад: {{salary.6}}</p>
            <p class="attr">Регион: {{region.6}}</p>
            <p class="attr last">Дата публикации: {{date.6}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.7}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.7}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.7 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.7}}</p>
            <p class="attr">Оклад: {{salary.7}}</p>
            <p class="attr">Регион: {{region.7}}</p>
            <p class="attr last">Дата публикации: {{date.7}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.8}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.8}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.8 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.8}}</p>
            <p class="attr">Оклад: {{salary.8}}</p>
            <p class="attr">Регион: {{region.8}}</p>
            <p class="attr last">Дата публикации: {{date.8}}</p>
        </div>
        <div class="vacancies">
            <p class="vac_name">{{name.9}}</p>
            <p class="attr">Описание:</p>
            <p class="attr_text">{{description.9}}</p>
            <p class="attr">Навыки:</p>
            {% for i in skills.9 %}
                <p class="skill">{{i}}</p>
            {%endfor%}
            <p class="attr">Компания: {{company.9}}</p>
            <p class="attr">Оклад: {{salary.9}}</p>
            <p class="attr">Регион: {{region.9}}</p>
            <p class="attr last">Дата публикации: {{date.9}}</p>
        </div>
        <footer>
            <div class="fio">Сидоренко Максим Евгеньевич РИ-210930</div>
        </footer>
    </div>
</body>
</html>